@use "./utils/variables" as vars;
@use "./utils/light" as light;
@use "./utils/dark" as dark;

/* Reset CSS básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // Tema claro padrão
  background-color: light.$light-background-color;
  color: light.$light-text-color;
  font-family: vars.$font-main;
  min-height: 100vh;
  transition: all 0.3s ease;
}

// Tema escuro ativado apenas se data-theme="dark"
body[data-theme="dark"] {
  background-color: dark.$dark-background-color;
  color: dark.$dark-text-color;
}

/* Links padrão */
a {
  color: inherit;
  text-decoration: none;
}

/* Imagens e mídias responsivas */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Botões */
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

/* Inputs e selects */
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Utilitários para fonte Roboto com variações */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-light {
  font-weight: 300;
}

.roboto-bold {
  font-weight: 700;
}

.roboto-condensed {
  font-variation-settings: "wdth" 75;
}
