@use "../../../styles/utils/variables" as vars;

.pageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 0;
  background-color: var(--background-color);

  @media (max-width: 900px) {
    padding-top: 2rem;
    height: auto;
  }
}

.loginSection {
  width: 400px;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
}

.icon {
  color: var(--primary-color, #0052cc); // fallback só por segurança
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.divFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 10px;
}

.form input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--card-bg);
}

.form button {
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;
  background-color: var(--primary-color, #0052cc);
  color: var(--white, #fff);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: var(--primary-dark, #003999);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.error {
  color: var(--error-color, #f44336);
  text-align: center;
  font-size: 0.9rem;
}
